
#hero {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.feature-box {
    background-color: #f8f9fa;
    border-radius: 10px;
    transition: transform 0.3s;
}

.feature-box:hover {
    transform: scale(1.05);
}

blockquote {
    background-color: #343a40;
    border-left: 5px solid #dc3545;
    padding: 20px;
}
